github "Alamofire/Alamofire" ~> 5.0.0-rc.3
github "Alamofire/AlamofireImage" ~> 4.0.0-beta.6
github "konkab/AlamofireNetworkActivityLogger" ~> 3.0.0
github "tristanhimmelman/ObjectMapper" ~> 3.5.1
github "tristanhimmelman/AlamofireObjectMapper" ~> 6.2.0
github "mxcl/PromiseKit" ~> 6.12.0