github "Alamofire/Alamofire" ~> 5.1
github "Alamofire/AlamofireImage" ~> 4.1
github "konkab/AlamofireNetworkActivityLogger" ~> 3.0
github "tristanhimmelman/ObjectMapper" ~> 3.5.2
github "yildizkoray/AlamofireObjectMapper" "master"
github "mxcl/PromiseKit" ~> 6.8
