<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bahij_TheSansArabic-Black.ttf</string>
		<string>Bahij_TheSansArabic-Bold.ttf</string>
		<string>Bahij_TheSansArabic-ExtraBold.ttf</string>
		<string>Bahij_TheSansArabic-ExtraLight.ttf</string>
		<string>Bahij_TheSansArabic-Light.ttf</string>
		<string>Bahij_TheSansArabic-Plain.ttf</string>
		<string>Bahij_TheSansArabic-SemiBold.ttf</string>
		<string>Bahij_TheSansArabic-SemiLight.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>Config</key>
	<dict>
		<key>API_URL_SCHEME</key>
		<string>$(API_URL_SCHEME)</string>
		<key>RANDOM_IMAGE_URL</key>
		<string>https://picsum.photos</string>
		<key>TMDB_API_URL</key>
		<string>$(THE_MOVIE_DB_API_URL)</string>
		<key>TMDB_API_KEY</key>
		<string>$(THE_MOVIE_DB_API_KEY)</string>
		<key>TMDB_API_READ_ACCESS_TOKEN</key>
		<string>$(THE_MOVIE_DB_API_READ_ACCESS_TOKEN)</string>
		<key>TMDB_IMAGE_URL</key>
		<string>$(THE_MOVIE_DB_IMAGE_URL)</string>
	</dict>
</dict>
</plist>
